@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0,0,0;
  --background-end-rgb: 0,0,0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Oswald', sans-serif;
    
}

.hero{
  height: 100vh;
  width: 100vw;
  text-align: center;
  

}

.althero{
  position: relative;
  margin-top: 10rem;
  margin-left: 6rem;
  z-index: 102;
  color: black;
  font-size: 18;
}

.experience{
  position: relative;
  z-index: 102;
  color: white;
  font-size: 18;
      
}

.scroll-section-outer {
  overflow: hidden;
  max-width: min-content;
}

.scroll-section-inner {
  height:100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
  white-space: initial;
  will-change:transform;
}

.scroll-section{
  height:100vh;
  width: 112vw;
  display: flex;
  
}

.scroll-section h3 {
  margin-top: 7rem;
  margin-left: 12rem;
  font-size: x-large;
  font-weight: bold;
}

.bgo{
  transform: scale(1);
  background-position-y: 40%;
}

.bg3{
  transform: scale(1);
  background-position-y: 30%;
}

.info {
	position: relative;
	top: 15rem;
  right: 25%;
	width: 100%;
	text-align: center;
	z-index: 100;
  font-size: larger;
  color: white;
  
}

.info2 {
	position: relative;
	top: 13rem;
  left: 27%;
	width: 100%;
	text-align: center;
	z-index: 100;
  font-size: larger;
  color: white;
}

.info3 {
	position: relative;
	top: 35rem;
	width: 100%;
	text-align: center;
	z-index: 100;	
  font-size: smaller;
  color: white;
}

#container{
  top: 15%;
  display: block;
  left: 5%;
}

.contact1{
  
  margin-top: 2rem;
  margin-right: 10rem;
  z-index: 2;
  font-size:large;
  
}

.contact2{
  
  
  margin-right: 25rem;
  z-index: 2;
  font-size:large;
 
}

